@import "bootstrap-sprockets";
@import "bootstrap";

.col-centered{
    float: none;
    margin: 0 auto;
}

.form-horizontal .control-label {
  text-align: left;
}

.btn-left {
  float:left;
  margin-left : 1em;
}
.btn-right {
  float:right;
}
 .input-group > .form-button {
  cursor: pointer;
  color: #333;
  background-color: #fff;
  border-color: #ccc;

}

.form-button:hover .form-button:focus, .form-button.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.form-button:active, .form-button.active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

p.lg {
     font-size: 15px;
}
